main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

#canvas-container.grab {
cursor: -webkit-grab; cursor: grab;
}

#canvas-container.grabbing {
cursor: -webkit-grabbing; cursor: grabbing;
}

#tree-container {
    background: #191d20;
    border-radius: 5px;
    padding: 10px 5px;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#right-panel .row {
    margin-bottom: 4px;
}

#right-panel .form-control-sm {
    padding: 2px 8px;
    min-height: inherit;
    background: #181b1e;
    border: none;
    color:white;
}

#right-panel .form-control-sm[type='color'] {
    /*min-height: calc(1.5em + .5rem + 2px);*/
    padding: 4px 8px;
    border: none;
    height:100%;
    /*border-radius: 5px;*/
    /*width: auto;*/
    /*aspect-ratio: 1;*/
}

#right-panel .form-control-sm[type='color']::-webkit-color-swatch-wrapper,
#right-panel .form-control-sm[type='color']::-moz-color-swatch-wrapper {
    border: none;
    padding: 0;
}
#right-panel .form-control-sm[type='color']::-webkit-color-swatch,
#right-panel .form-control-sm[type='color']::-moz-color-swatch {
    border: none;
    border-radius: 5px;
}

#right-panel .col-form-label-sm {
    padding: 2px 8px;
}

.gutter {
    background: rgb(50, 59, 66) none repeat scroll 0% 0%;
    z-index: 550;
}
.gutter-horizontal {
    cursor: col-resize;
}
