body {
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

#tree-container {
    background: #191d20;
    border-radius: 5px;
    padding: 10px 5px;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#right-panel {
    overflow: auto;
}

#right-panel .row {
    margin-bottom: 4px;
}

.img-thumbnail {
    padding: 0;
    background-color: #181b1e;
    border-color: transparent;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.header-button:not(.collapsed)::after {
    /*background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");*/
    transform: rotate(-180deg);
}
.header-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg id=%27SvgjsSvg1001%27 width=%27288%27 height=%27288%27 xmlns=%27http://www.w3.org/2000/svg%27 version=%271.1%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 xmlns:svgjs=%27http://svgjs.com/svgjs%27%3E%3Cdefs id=%27SvgjsDefs1002%27/%3E%3Cg id=%27SvgjsG1008%27 transform=%27matrix%281,0,0,1,0,0%29%27%3E%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%230c63e4%27 viewBox=%270 0 16 16%27 width=%27288%27 height=%27288%27%3E%3Cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27 fill=%27%23ffffff%27 class=%27color000 svgShape%27/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}
.header-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px 8px;
    color: white;
    font-size: 12px;
    background-color: #323b42;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.controls {
    margin-top: 4px;
}

.header-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    /*box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);*/
}
.header-button:hover {
    z-index: 2;
}
.header-button:not(.collapsed) {
    /*color: #0c63e4;*/
    /*background-color: #e7f1ff;*/
    /*box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);*/
}

/*img:not([src]) {*/
/*    border: none;*/
/*    visibility: hidden;*/
/*}*/

.controls .btn-group {
    padding: 0px 0px;
}

.controls .btn-group .btn {
    padding: 2px 6px;
}

.form-control-sm,
.form-select-sm {
    padding: 2px 8px;
    min-height: inherit;
    background-color: #181b1e;
    border: none;
    color: white;
}

.form-control-sm[type='color'] {
    /*min-height: calc(1.5em + .5rem + 2px);*/
    padding: 4px 8px;
    border: none;
    height: 100%;
    /*border-radius: 5px;*/
    /*width: auto;*/
    /*aspect-ratio: 1;*/
}

.form-control-sm[type='color']::-webkit-color-swatch-wrapper,
.form-control-sm[type='color']::-moz-color-swatch-wrapper {
    border: none;
    padding: 0;
}
.form-control-sm[type='color']::-webkit-color-swatch,
.form-control-sm[type='color']::-moz-color-swatch {
    border: none;
    border-radius: 5px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #60606000;
    opacity: 1;
}

.col-form-label {
    color: #c6d0db;
    font-size: 12px;
}

.gutter {
    background: rgb(50, 59, 66) none repeat scroll 0% 0%;
    z-index: 550;
}
.gutter-horizontal {
    cursor: col-resize;
}
