main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

#tree-container {
    background: #191d20;
    border-radius: 5px;
    padding: 10px 5px;
}

#canvas-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gutter {
    background: rgb(50, 59, 66) none repeat scroll 0% 0%;
    z-index: 550;
}
.gutter-horizontal {
    cursor:col-resize;
}
